<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">
  <title>메인 타이틀</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
메인 컨텐츠
</body>
</html>

<!--~{::title}  title: <title th:replace="${title}">레이아웃 타이틀</title>에 들어감-->
<!--~{::link}   link: layoutMain의 link 2개가 <th:block th:replace="${links}" />에 들어감-->
<!--정리: head 정보만 빼서 경로에 맞는 html로 데이터(title, link)를 넘긴다 -->